<a href="https://colab.research.google.com/github/SYED-AZEES/project2/blob/main/newsih.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dat = pd.read_excel("newsih.xlsx", sheet_name="Sheet1")  # Replace "Sheet1" with the actual sheet name if different
dat

,Route_Id,Starts From,Ends At,First Bus Timing,Last Bus Timing,Total Stops,Demand,Duration
0,108,Hari Nagar Clock Tower,PS Kirti Nagar,05:16:00,21:00:00,44,800,45
1,108 STL,Nehru Vihar,GTB Nagar / Haqiqat Nagar,06:48:00,22:00:00,12,500,20
2,185,Nathupura Crossing Terminal,Sant Nagar Main Market,06:35:00,20:55:00,53,1200,60
3,185 Lnk STL,BBM Cluster Depot,IP College,09:00:00,21:20:00,17,300,25
4,185 STL,BBM Cluster Depot,CV Raman ITI,08:10:00,21:50:00,23,600,30
5,185,Kendriya Terminal,JLN Marg,06:35:00,20:55:00,52,1000,55
6,234 CL,Harsh Vihar,B-Block Yamuna Vihar,06:30:00,21:30:00,55,1100,65
7,262,Harsh Vihar,B-Block Yamuna Vihar,05:30:00,21:40:00,44,900,50
8,262 Lnk STL,BBM Cluster Depot,Kalyan Vihar Terminal,06:00:00,21:40:00,5,200,15
9,78,Inderpuri Krishi Kunj,Campa Cola,05:23:00,21:35:00,27,600,30
10,719,Pandwala Village,BSF Camp Chhawla,07:00:00,19:30:00,51,800,40
11,720,JanakPuri B-1 Terminal,Desu Colony,07:16:00,21:58:00,63,1000,70
12,723,Mangla Puri Terminal,Geeta Ashram,06:00:00,21:10:00,53,900,60
13,743 A,Bharthal Village (Shyam Mandir),The Uppal Hotel,08:10:00,17:10:00,36,400,40
14,743 STL,Dichaon Kalan Depot,Deenpur Village,07:40:00,20:10:00,25,500,35
15,405 A,Old Delhi Railway Station,ITPO Gate No. 3,06:43:00,22:19:00,35,900,45
16,405,Mori Gate Terminal,Delhi Gate,06:40:00,22:16:00,38,800,50
17,418 A,Badarpur Border,Apollo Hospital,06:20:00,21:40:00,51,1000,55
18,418 A,Shahdara (Shyam Lal College),Radheypuri,06:20:00,21:40:00,50,900,55
19,480,Kendriya Terminal,Sunehri Masjid/ G Block,07:40:00,18:50:00,37,700,45
20,507 CL,Okhla Extension (Abul Fazal Enclave),Ansari Health Care,06:00:00,21:20:00,42,800,50
21,522 STL,Ambedkar Nagar Terminal,PT College Kotla,06:00:00,21:00:00,16,600,25
22,543 STL,Anand Vihar ISBT,Sanjay Lake Trilokpuri,06:40:00,19:20:00,17,500,30
23,47 ACL,Inder Puri JJ Colony,South Patel Nagar (Metro Station),06:00:00,21:50:00,62,1000,60
24,511 A STL,Okhla Depot IV CWS II,Jaitpur Mor,05:20:00,22:05:00,11,400,20
25,540 CL,Kendriya Terminal,Sunehri Masjid/ G Block,05:25:00,20:10:00,36,600,40
26,548 CL,Hamdard Nagar / Sangam Vihar,Vocational College,07:45:00,20:35:00,45,800,50
27,717 A,Badarpur Border,Tughlakabad Village,04:40:00,20:40:00,50,900,60
28,411 Lnk STL,Okhla Depot IV CWS II,Kalkaji Mandir (MaaAnandmayeeMarg),08:05:00,20:30:00,23,500,35
29,433 Lnk STL,New Delhi Railway Station Gate 2,Krishan Menon Marg,07:00:00,22:20:00,38,600,45
30,717,IGI Airport Terminal 2 (Air India Office),ISIC Hospital (Verma farm),04:40:00,20:40:00,44,800,50
31,764,Sai Baba Mandir (Najafgarh),NSIT (Netaji Subhas Institute),04:54:00,22:31:00,57,1000,65
32,794,Nizamuddin Railway Station,Central School Lodhi Colony,05:16:00,22:18:00,46,900,55
33,157 A,Kendriya Terminal,Gole Market,08:20:00,21:40:00,46,700,50
34,165,Anand Vihar ISBT,GTB Hospital,05:00:00,20:56:00,66,1200,70
35,212,Anand Parvat Terminal,Azad Market,05:57:00,22:30:00,65,1000,60
36,236,Qamruddin Nagar Terminal,Peera Garhi Chowk,05:00:00,19:42:00,54,900,55
37,261,Nand Nagri Terminal,C 4 Yamuna Vihar,06:00:00,21:50:00,41,700,45
38,309 EXT,Rajghat Cluster Depot,Police Station Paharganj,05:00:00,21:25:00,17,400,35
39,419L STL,Pushp Vihar,Defence Colony,05:00:00,21:32:00,27,600,40
40,73 Lnk STL,Anand Vihar ISBT,Nirman Vihar,05:00:00,20:37:00,18,500,30
41,85,Anand Vihar ISBT,Neethi Apartment,06:50:00,22:55:00,49,900,60
42,871 A,Shivaji Stadium Terminal,Rajendra Place / Karol Bagh Telephone Exchange,06:00:00,21:20:00,34,600,40
43,871,H-3 Vikas Puri,Dholi Piao,06:00:00,21:20:00,44,700,45
44,143,Anand Vihar ISBT,Arjun Nagar,06:50:00,21:40:00,57,1000,65
45,205,Dilshad Garden Depot Cluster,GTB Hospital Xing,06:54:00,21:40:00,32,600,40
46,208,Karampura Terminal,Karol Bagh Metro Station,06:00:00,21:50:00,43,700,50
47,310,Jheel Terminal,Delhi Secretariat,07:00:00,18:30:00,42,600,50
48,73,Hari Nagar Clock Tower,Payal Cinema,05:07:00,20:37:00,52,800,55
49,847,New Seema Puri Depot Cluster,GTB Hospital Crossing,07:30:00,21:50:00,68,1200,70
50,88 A,Anand Vihar ISBT,Nirman Vihar,07:40:00,21:40:00,48,800,55
51,932 A,Q-Block Mangolpuri,Rohini Sec-3/4 Xing,06:50:00,21:40:00,62,1000,65
52,997,Shivaji Stadium Terminal,Rajendra Place / Karol Bagh Telephone Exchange,06:00:00,20:30:00,46,700,50
53,181 A,Nizamuddin Railway Station,Bharti Nagar,06:12:00,20:15:00,58,900,60
54,214CL,New Seema Puri Depot Cluster,Mansarovar Park Metro Station,06:00:00,22:20:00,25,600,35
55,214CL,JLN Marg,Red Fort,06:00:00,22:20:00,27,500,40
56,405 STL,ISBT Kashmere Gate Terminal,ITO,06:43:00,22:19:00,18,400,30
57,721,ISBT Kashmere Gate Terminal,Faiz Road,04:35:00,21:48:00,49,900,55
58,727,Dwarka Mor Metro Station (Terminal),Raja Puri,06:00:00,21:20:00,47,800,50
59,604,New Delhi Railway Station Gate No.2,Lado Sarai,06:48:00,19:00:00,59,1000,60

In [ ]:
routearr=dat['Route_Id']
routearr

0             108
1         108 STL
2             185
3     185 Lnk STL
4         185 STL
5             185
6          234 CL
7             262
8     262 Lnk STL
9              78
10            719
11            720
12            723
13          743 A
14        743 STL
15          405 A
16            405
17          418 A
18          418 A
19            480
20         507 CL
21        522 STL
22        543 STL
23         47 ACL
24      511 A STL
25         540 CL
26         548 CL
27          717 A
28    411 Lnk STL
29    433 Lnk STL
30            717
31            764
32            794
33          157 A
34            165
35            212
36            236
37            261
38        309 EXT
39       419L STL
40     73 Lnk STL
41             85
42          871 A
43            871
44            143
45            205
46            208
47            310
48             73
49            847
50           88 A
51          932 A
52            997
53          181 A
54          214CL
55          214CL
56        405 STL
57            721
58            727
59            604
Name: Route_Id, dtype: object

In [ ]:
dem=dat['Demand'].tolist()
print(dem)

[800, 500, 1200, 300, 600, 1000, 1100, 900, 200, 600, 800, 1000, 900, 400, 500, 900, 800, 1000, 900, 700, 800, 600, 500, 1000, 400, 600, 800, 900, 500, 600, 800, 1000, 900, 700, 1200, 1000, 900, 700, 400, 600, 500, 900, 600, 700, 1000, 600, 700, 600, 800, 1200, 800, 1000, 700, 900, 600, 500, 400, 900, 800, 1000]

In [ ]:
period=dat['Duration']
period

0     45
1     20
2     60
3     25
4     30
5     55
6     65
7     50
8     15
9     30
10    40
11    70
12    60
13    40
14    35
15    45
16    50
17    55
18    55
19    45
20    50
21    25
22    30
23    60
24    20
25    40
26    50
27    60
28    35
29    45
30    50
31    65
32    55
33    50
34    70
35    60
36    55
37    45
38    35
39    40
40    30
41    60
42    40
43    45
44    65
45    40
46    50
47    50
48    55
49    70
50    55
51    65
52    50
53    60
54    35
55    40
56    30
57    55
58    50
59    60
Name: Duration, dtype: int64

In [ ]:
#routearr=[1,2,3,4,5,6]
#demand=[4126,3497,11030,3029,3836,1111]
# Use the built-in sum function
totaldemand = sum(dem) # this will now call the built-in sum function
#period=[30,45,45,60,75,75]
per=[0.4,0.2,0.35,0.05]
shift=[195,360,240,90]
p=[]
print(totaldemand)

45200

In [ ]:
n = len(period)
m = len(shift)
T = []
for i in range(n):
    T.append([0] * m)
for i in range(len(period)):
    for j in range(len(shift)):
        if(j%2!=0):
            T[i][j]=int(shift[j]/period[i])
        else:
            T[i][j]=int(shift[j]/period[i])+1
ttf=0
print("trip factor for route i and shift j")
print("rno   t1 t2 t3 t4")
nonn=pd.DataFrame(T)
print(nonn)

trip factor for route i and shift j
rno   t1 t2 t3 t4
     0   1   2  3
0    5   8   6  2
1   10  18  13  4
2    4   6   5  1
3    8  14  10  3
4    7  12   9  3
5    4   6   5  1
6    4   5   4  1
7    4   7   5  1
8   14  24  17  6
9    7  12   9  3
10   5   9   7  2
11   3   5   4  1
12   4   6   5  1
13   5   9   7  2
14   6  10   7  2
15   5   8   6  2
16   4   7   5  1
17   4   6   5  1
18   4   6   5  1
19   5   8   6  2
20   4   7   5  1
21   8  14  10  3
22   7  12   9  3
23   4   6   5  1
24  10  18  13  4
25   5   9   7  2
26   4   7   5  1
27   4   6   5  1
28   6  10   7  2
29   5   8   6  2
30   4   7   5  1
31   4   5   4  1
32   4   6   5  1
33   4   7   5  1
34   3   5   4  1
35   4   6   5  1
36   4   6   5  1
37   5   8   6  2
38   6  10   7  2
39   5   9   7  2
40   7  12   9  3
41   4   6   5  1
42   5   9   7  2
43   5   8   6  2
44   4   5   4  1
45   5   9   7  2
46   4   7   5  1
47   4   7   5  1
48   4   6   5  1
49   3   5   4  1
50   4   6   5  1
51   4   5   4  1
52   4   7   5  1
53   4   6   5  1
54   6  10   7  2
55   5   9   7  2
56   7  12   9  3
57   4   6   5  1
58   4   7   5  1
59   4   6   5  1

In [ ]:
ttf

1284

In [ ]:
for i in range(len(dem)):
    s=round((dem[i]/totaldemand),3)
    p.append(s)
print("trip portion of each route")
print(p)
print()

trip portion of each route
[0.018, 0.011, 0.027, 0.007, 0.013, 0.022, 0.024, 0.02, 0.004, 0.013, 0.018, 0.022, 0.02, 0.009, 0.011, 0.02, 0.018, 0.022, 0.02, 0.015, 0.018, 0.013, 0.011, 0.022, 0.009, 0.013, 0.018, 0.02, 0.011, 0.013, 0.018, 0.022, 0.02, 0.015, 0.027, 0.022, 0.02, 0.015, 0.009, 0.013, 0.011, 0.02, 0.013, 0.015, 0.022, 0.013, 0.015, 0.013, 0.018, 0.027, 0.018, 0.022, 0.015, 0.02, 0.013, 0.011, 0.009, 0.02, 0.018, 0.022]

In [ ]:
#routearr=[1,2,3,4,5,6]
#demand=[4126,3497,11030,3029,3836,1111]
# Use the built-in sum function
totaldemand = sum(dem) # this will now call the built-in sum function
#period=[30,45,45,60,75,75]
per=[0.4,0.2,0.35,0.05]
shift=[195,360,240,90]
p=[]
print(totaldemand)

n = len(period) # n is the length of period list which is 60 in this case
m = len(shift)
T = []
for i in range(n):
    T.append([0] * m)
for i in range(len(period)):
    for j in range(len(shift)):
        if(j%2!=0):
            T[i][j]=int(shift[j]/period[i])
        else:
            T[i][j]=int(shift[j]/period[i])+1
ttf=0
print("trip factor for route i and shift j")
print("rno   t1 t2 t3 t4")
nonn=pd.DataFrame(T)
print(nonn)


ttf

for i in range(len(dem)): # Calculate p based on dem
    s=round((dem[i]/totaldemand),3)
    p.append(s)
print("trip portion of each route")
print(p)
print()

notps = []
for i in range(len(dem)): # Iterate through the length of dem (same as p) instead of n
    notps.append([0] * m)
for i in range(len(dem)): # Iterate through the length of dem (same as p) instead of n
    a=(ttf*p[i])
    for j in range(m):
        if(j%2!=0):
            notps[i][j]=int(round(a*per[j]))
        else:
            notps[i][j]=int(round(a*per[j]))+1

print("no of trips per route per shift")
print("rno     s1           s2            s3           s4")
for i in range(len(dem)): # Iterate through the length of dem instead of n
    for j in range(m):
        if(j==0):
             print(i+1,"     ",notps[i][j],end="           ")
        else:
             print(notps[i][j],end="            ")
    print()
print()

45200
trip factor for route i and shift j
rno   t1 t2 t3 t4
     0   1   2  3
0    5   8   6  2
1   10  18  13  4
2    4   6   5  1
3    8  14  10  3
4    7  12   9  3
5    4   6   5  1
6    4   5   4  1
7    4   7   5  1
8   14  24  17  6
9    7  12   9  3
10   5   9   7  2
11   3   5   4  1
12   4   6   5  1
13   5   9   7  2
14   6  10   7  2
15   5   8   6  2
16   4   7   5  1
17   4   6   5  1
18   4   6   5  1
19   5   8   6  2
20   4   7   5  1
21   8  14  10  3
22   7  12   9  3
23   4   6   5  1
24  10  18  13  4
25   5   9   7  2
26   4   7   5  1
27   4   6   5  1
28   6  10   7  2
29   5   8   6  2
30   4   7   5  1
31   4   5   4  1
32   4   6   5  1
33   4   7   5  1
34   3   5   4  1
35   4   6   5  1
36   4   6   5  1
37   5   8   6  2
38   6  10   7  2
39   5   9   7  2
40   7  12   9  3
41   4   6   5  1
42   5   9   7  2
43   5   8   6  2
44   4   5   4  1
45   5   9   7  2
46   4   7   5  1
47   4   7   5  1
48   4   6   5  1
49   3   5   4  1
50   4   6   5  1
51   4   5   4  1
52   4   7   5  1
53   4   6   5  1
54   6  10   7  2
55   5   9   7  2
56   7  12   9  3
57   4   6   5  1
58   4   7   5  1
59   4   6   5  1
trip portion of each route
[0.018, 0.011, 0.027, 0.007, 0.013, 0.022, 0.024, 0.02, 0.004, 0.013, 0.018, 0.022, 0.02, 0.009, 0.011, 0.02, 0.018, 0.022, 0.02, 0.015, 0.018, 0.013, 0.011, 0.022, 0.009, 0.013, 0.018, 0.02, 0.011, 0.013, 0.018, 0.022, 0.02, 0.015, 0.027, 0.022, 0.02, 0.015, 0.009, 0.013, 0.011, 0.02, 0.013, 0.015, 0.022, 0.013, 0.015, 0.013, 0.018, 0.027, 0.018, 0.022, 0.015, 0.02, 0.013, 0.011, 0.009, 0.02, 0.018, 0.022]

no of trips per route per shift
rno     s1           s2            s3           s4
1       1           0            1            0
2       1           0            1            0
3       1           0            1            0
4       1           0            1            0
5       1           0            1            0
6       1           0            1            0
7       1           0            1            0
8       1           0            1            0
9       1           0            1            0
10       1           0            1            0
11       1           0            1            0
12       1           0            1            0
13       1           0            1            0
14       1           0            1            0
15       1           0            1            0
16       1           0            1            0
17       1           0            1            0
18       1           0            1            0
19       1           0            1            0
20       1           0            1            0
21       1           0            1            0
22       1           0            1            0
23       1           0            1            0
24       1           0            1            0
25       1           0            1            0
26       1           0            1            0
27       1           0            1            0
28       1           0            1            0
29       1           0            1            0
30       1           0            1            0
31       1           0            1            0
32       1           0            1            0
33       1           0            1            0
34       1           0            1            0
35       1           0            1            0
36       1           0            1            0
37       1           0            1            0
38       1           0            1            0
39       1           0            1            0
40       1           0            1            0
41       1           0            1            0
42       1           0            1            0
43       1           0            1            0
44       1           0            1            0
45       1           0            1            0
46       1           0            1            0
47       1           0            1            0
48       1           0            1            0
49       1           0            1            0
50       1           0            1            0
51       1           0            1            0
52       1           0            1            0
53       1           0            1            0
54       1           0            1            0
55       1           0            1            0
56       1           0            1            0
57       1           0            1            0
58       1           0            1            0
59       1           0            1            0
60       1           0            1            0

In [ ]:
nobuses=[]
for i in range(n):
    nobuses.append([0]*m)
for i in range(n):
    for j in range(m):
        d=T[i][j]
        try:
            if(j%2!=0):
              if(notps[i][j]/d<1):
                nobuses[i][j]=round(notps[i][j]/d)+1
              else:
                nobuses[i][j]=round(notps[i][j]/d)
            elif(j==2):
              if(notps[i][j]/d<1):
                nobuses[i][j]=round(notps[i][j]/d)+1
              else:
                nobuses[i][j]=round(notps[i][j]/d)
            else:
                nobuses[i][j]=round(notps[i][j]/d)+1

        except:
            print()
totbuses=0
print("no of buses per route per shift")
print("rno     s1           s2          s3           s4")
for i in range(n):
    for j in range(m):
        if(j==0):
             print(i+1,"    ",nobuses[i][j],end="            ")
        else:
             print(nobuses[i][j],end="            ")
        totbuses=totbuses+nobuses[i][j]


    print()

no of buses per route per shift
rno     s1           s2          s3           s4
1      3            2            2            1
2      2            1            1            1
3      5            1            3            2
4      2            1            1            1
5      2            1            2            1
6      4            1            2            1
7      4            1            3            2
8      4            2            2            1
9      1            1            1            1
10      2            1            2            1
11      3            2            1            1
12      5            1            3            1
13      4            2            2            1
14      2            1            2            1
15      2            1            2            1
16      3            2            2            1
17      3            2            2            1
18      4            1            2            1
19      4            2            2            1
20      3            1            1            1
21      3            2            2            1
22      2            1            2            1
23      2            1            2            1
24      4            1            2            1
25      2            1            1            1
26      3            1            1            1
27      3            2            2            1
28      4            2            2            1
29      2            1            2            1
30      3            1            1            1
31      3            2            2            1
32      4            1            3            1
33      4            2            2            1
34      3            2            2            1
35      6            1            3            2
36      4            1            2            1
37      4            2            2            1
38      3            1            1            1
39      2            1            2            1
40      3            1            1            1
41      2            1            2            1
42      4            2            2            1
43      3            1            1            1
44      3            1            1            1
45      4            1            3            1
46      3            1            1            1
47      3            2            2            1
48      3            1            1            1
49      3            2            2            1
50      6            1            3            2
51      3            2            2            1
52      4            1            3            1
53      3            2            2            1
54      4            2            2            1
55      2            1            1            1
56      2            1            2            1
57      2            1            2            1
58      4            2            2            1
59      3            2            2            1
60      4            1            2            1

In [ ]:
# It appears that the sum function has been overwritten
# Delete the sum variable to restore the built-in sum function
del sum

nobuses=pd.DataFrame(nobuses)
nobuses.to_excel("totbuses.xlsx")

# Use the built-in sum function
totb=sum(nobuses[0]+nobuses[1])
print(totb)
print(nobuses)

273
    0  1  2  3
0   3  2  2  1
1   2  1  1  1
2   5  1  3  2
3   2  1  1  1
4   2  1  2  1
5   4  1  2  1
6   4  1  3  2
7   4  2  2  1
8   1  1  1  1
9   2  1  2  1
10  3  2  1  1
11  5  1  3  1
12  4  2  2  1
13  2  1  2  1
14  2  1  2  1
15  3  2  2  1
16  3  2  2  1
17  4  1  2  1
18  4  2  2  1
19  3  1  1  1
20  3  2  2  1
21  2  1  2  1
22  2  1  2  1
23  4  1  2  1
24  2  1  1  1
25  3  1  1  1
26  3  2  2  1
27  4  2  2  1
28  2  1  2  1
29  3  1  1  1
30  3  2  2  1
31  4  1  3  1
32  4  2  2  1
33  3  2  2  1
34  6  1  3  2
35  4  1  2  1
36  4  2  2  1
37  3  1  1  1
38  2  1  2  1
39  3  1  1  1
40  2  1  2  1
41  4  2  2  1
42  3  1  1  1
43  3  1  1  1
44  4  1  3  1
45  3  1  1  1
46  3  2  2  1
47  3  1  1  1
48  3  2  2  1
49  6  1  3  2
50  3  2  2  1
51  4  1  3  1
52  3  2  2  1
53  4  2  2  1
54  2  1  1  1
55  2  1  2  1
56  2  1  2  1
57  4  2  2  1
58  3  2  2  1
59  4  1  2  1

In [ ]:
totb

273

In [ ]:
totaldemand

45200

In [ ]:
#if we do manually alloaction of buses to the route
MA=totaldemand/60
print(round(MA))

753

In [ ]:
#part2
duration=dat['Duration'].tolist()
duration
print(duration)
from collections import Counter
counts = Counter(duration)

print(counts)

[45, 20, 60, 25, 30, 55, 65, 50, 15, 30, 40, 70, 60, 40, 35, 45, 50, 55, 55, 45, 50, 25, 30, 60, 20, 40, 50, 60, 35, 45, 50, 65, 55, 50, 70, 60, 55, 45, 35, 40, 30, 60, 40, 45, 65, 40, 50, 50, 55, 70, 55, 65, 50, 60, 35, 40, 30, 55, 50, 60]
Counter({50: 10, 60: 8, 55: 8, 40: 7, 45: 6, 30: 5, 65: 4, 35: 4, 70: 3, 20: 2, 25: 2, 15: 1})

In [ ]:
routes=dat['Route_Id'].tolist()
print(routes)

[108, '108 STL', 185, '185 Lnk STL', '185 STL', 185, '234 CL', 262, '262 Lnk STL', 78, 719, 720, 723, '743 A', '743 STL', '405 A', 405, '418 A', '418 A', 480, '507 CL', '522 STL', '543 STL', '47 ACL', '511 A STL', '540 CL', '548 CL', '717 A', '411 Lnk STL', '433 Lnk STL', 717, 764, 794, '157 A', 165, 212, 236, 261, '309 EXT', '419L STL', '73 Lnk STL', 85, '871 A', 871, 143, 205, 208, 310, 73, 847, '88 A', '932 A', 997, '181 A', '214CL', '214CL', '405 STL', 721, 727, 604]

In [ ]:
noofbuses=[]
for i in range(len(routes)):
  sum=0
  for j in range(2):
    # Accessing the DataFrame "nobuses" correctly using .iloc[]
    sum=sum+nobuses.iloc[i,j] # Use .iloc[] to access elements by integer index
  noofbuses.append(sum)
print(noofbuses)
print(len(noofbuses))

[5, 3, 6, 3, 3, 5, 5, 6, 2, 3, 5, 6, 6, 3, 3, 5, 5, 5, 6, 4, 5, 3, 3, 5, 3, 4, 5, 6, 3, 4, 5, 5, 6, 5, 7, 5, 6, 4, 3, 4, 3, 6, 4, 4, 5, 4, 5, 4, 5, 7, 5, 5, 5, 6, 3, 3, 3, 6, 5, 5]
60

In [ ]:
drivers = [
    "FAIZAN", "AZEES", "DIVYA", "BHAVITA", "AMAR", "BHAVANA", "Ananya", "Arjun", "Ashi", "Avni",
    "Bhavesh", "Chaitanya", "Chandni", "Deepak", "Diya", "Ekta", "Gaurav", "Ishaan", "Jaya", "Kartik",
    "Kavya", "Kiran", "Kriti", "Lakshmi", "Madhav", "Meera", "Mihir", "Naina", "Nikhil", "Pallavi",
    "Ravi", "Riya", "Rohan", "Saanvi", "Sachin", "Sagar", "Saloni", "Sanjay", "Sneha", "Sourabh",
    "Tanuja", "Tarun", "Vansh", "Vijay", "Vidya", "Vikram", "Yash", "Aditi", "Ajeet", "Akanksha",
    "Amit", "Anil", "Anju", "Aparna", "Ashok", "Avinash", "Chirag", "Deepali", "Devesh", "Divya",
    "Esha", "Gita", "Gulshan", "Hemant", "Hina", "Ishita", "Jitendra", "Kavita", "Kunal", "Maya",
    "Nandini", "Neelam", "Nilesh", "Pooja", "Prakash", "Rachna", "Rajeev", "Ramesh", "Ritika", "Rohit",
    "Ruchi", "Sandeep", "Sanjana", "Siddharth", "Sonali", "Suman", "Surbhi", "Swati", "Tanvi", "Tushar",
    "Usha", "Vandana", "Vikrant", "Yogesh", "Zoya", "Abhishek", "Aishwarya", "Ankit", "Aparajita", "Arun",
    "Bharat", "Charul", "Chinmay", "Dharmendra", "Gauravi", "Gunjan", "Harsimran", "Indira", "Jaspreet", "Jitendra",
    "Kalpana", "Kashish", "Kriti", "Lalita", "Mahesh", "Manisha", "Meenal", "Minal", "Namrata", "Nirav",
    "Palak", "Pankaj", "Parul", "Priti", "Raman", "Ritika", "Rupali", "Sakshi", "Sandeep", "Sanjay",
    "Sanjita", "Sarika", "Shalini", "Sharad", "Shivani", "Shweta", "Snehal", "Sonu", "Suman", "Sweta",
    "Tanya", "Tejas", "Trisha", "Tulika", "Vijay", "Vishal", "Yamini", "Aarav", "Aishwarya", "Ansh",
    "Arjun", "Arya", "Chandan", "Chaya", "Diksha", "Gaurav", "Ishaan", "Jaya", "Kartik", "Kriti",
    "Lakshmi", "Manoj", "Maya", "Meera", "Mihir", "Naina", "Nikhil", "Pallavi", "Ravi", "Riya",
    "Rohit", "Saanvi", "Siddharth", "Sneha", "Sourabh", "Tanuja", "Tarun", "Vansh", "Vidya", "Vikram",
    "Yash", "Aaravi", "Aditi", "Ajeet", "Amit", "Anil", "Anju", "Aparna", "Ashok", "Avinash",
    "Chirag", "Deepali", "Devesh", "Divya", "Esha", "Gita", "Gulshan", "Hemant", "Hina", "Ishita",
    "Jitendra", "Kavita", "Kunal", "Maya", "Nandini", "Neelam", "Nilesh", "Pooja", "Prakash", "Rachna",
    "Rajeev", "Ramesh", "Ritika", "Rohit", "Ruchi", "Sandeep", "Sanjana", "Siddharth", "Sonali", "Suman",
    "Surbhi", "Swati", "Tanvi", "Tushar", "Usha", "Vandana", "Vikrant", "Yogesh", "Zoya", "Abhishek",
    "Aishwarya", "Ankit", "Aparajita", "Arun", "Bharat", "Charul", "Chinmay", "Dharmendra", "Gauravi", "Gunjan",
    "Harsimran", "Indira", "Jaspreet", "Jitendra", "Kalpana", "Kashish", "Kriti", "Lalita", "Mahesh", "Manisha",
    "Meenal", "Minal", "Namrata", "Nirav", "Palak", "Pankaj", "Parul", "Priti", "Raman", "Ritika",
    "Rupali", "Sakshi", "Sandeep", "Sanjay", "Sanjita", "Sarika", "Shalini", "Sharad", "Shivani", "Shweta",
    "Snehal", "Sonu", "Suman", "Sweta", "Tanya", "Tejas", "Trisha", "Tulika", "Vijay", "Vishal", "Yamini"
]

bu = []
routes
for i in range(len(routes)):
    a=noofbuses[i]+1
    bu.append([0] * a)
k=0
b=0
for i in range(len(routes)):
  for j in range(noofbuses[i]+1):
    if(j>0):
      bu[i][j]=drivers[k]
      k=k+1
    if(j==0):
      bu[i][j]=routes[b]
      b=b+1
print(bu)

[[108, 'FAIZAN', 'AZEES', 'DIVYA', 'BHAVITA', 'AMAR'], ['108 STL', 'BHAVANA', 'Ananya', 'Arjun'], [185, 'Ashi', 'Avni', 'Bhavesh', 'Chaitanya', 'Chandni', 'Deepak'], ['185 Lnk STL', 'Diya', 'Ekta', 'Gaurav'], ['185 STL', 'Ishaan', 'Jaya', 'Kartik'], [185, 'Kavya', 'Kiran', 'Kriti', 'Lakshmi', 'Madhav'], ['234 CL', 'Meera', 'Mihir', 'Naina', 'Nikhil', 'Pallavi'], [262, 'Ravi', 'Riya', 'Rohan', 'Saanvi', 'Sachin', 'Sagar'], ['262 Lnk STL', 'Saloni', 'Sanjay'], [78, 'Sneha', 'Sourabh', 'Tanuja'], [719, 'Tarun', 'Vansh', 'Vijay', 'Vidya', 'Vikram'], [720, 'Yash', 'Aditi', 'Ajeet', 'Akanksha', 'Amit', 'Anil'], [723, 'Anju', 'Aparna', 'Ashok', 'Avinash', 'Chirag', 'Deepali'], ['743 A', 'Devesh', 'Divya', 'Esha'], ['743 STL', 'Gita', 'Gulshan', 'Hemant'], ['405 A', 'Hina', 'Ishita', 'Jitendra', 'Kavita', 'Kunal'], [405, 'Maya', 'Nandini', 'Neelam', 'Nilesh', 'Pooja'], ['418 A', 'Prakash', 'Rachna', 'Rajeev', 'Ramesh', 'Ritika'], ['418 A', 'Rohit', 'Ruchi', 'Sandeep', 'Sanjana', 'Siddharth', 'Sonali'], [480, 'Suman', 'Surbhi', 'Swati', 'Tanvi'], ['507 CL', 'Tushar', 'Usha', 'Vandana', 'Vikrant', 'Yogesh'], ['522 STL', 'Zoya', 'Abhishek', 'Aishwarya'], ['543 STL', 'Ankit', 'Aparajita', 'Arun'], ['47 ACL', 'Bharat', 'Charul', 'Chinmay', 'Dharmendra', 'Gauravi'], ['511 A STL', 'Gunjan', 'Harsimran', 'Indira'], ['540 CL', 'Jaspreet', 'Jitendra', 'Kalpana', 'Kashish'], ['548 CL', 'Kriti', 'Lalita', 'Mahesh', 'Manisha', 'Meenal'], ['717 A', 'Minal', 'Namrata', 'Nirav', 'Palak', 'Pankaj', 'Parul'], ['411 Lnk STL', 'Priti', 'Raman', 'Ritika'], ['433 Lnk STL', 'Rupali', 'Sakshi', 'Sandeep', 'Sanjay'], [717, 'Sanjita', 'Sarika', 'Shalini', 'Sharad', 'Shivani'], [764, 'Shweta', 'Snehal', 'Sonu', 'Suman', 'Sweta'], [794, 'Tanya', 'Tejas', 'Trisha', 'Tulika', 'Vijay', 'Vishal'], ['157 A', 'Yamini', 'Aarav', 'Aishwarya', 'Ansh', 'Arjun'], [165, 'Arya', 'Chandan', 'Chaya', 'Diksha', 'Gaurav', 'Ishaan', 'Jaya'], [212, 'Kartik', 'Kriti', 'Lakshmi', 'Manoj', 'Maya'], [236, 'Meera', 'Mihir', 'Naina', 'Nikhil', 'Pallavi', 'Ravi'], [261, 'Riya', 'Rohit', 'Saanvi', 'Siddharth'], ['309 EXT', 'Sneha', 'Sourabh', 'Tanuja'], ['419L STL', 'Tarun', 'Vansh', 'Vidya', 'Vikram'], ['73 Lnk STL', 'Yash', 'Aaravi', 'Aditi'], [85, 'Ajeet', 'Amit', 'Anil', 'Anju', 'Aparna', 'Ashok'], ['871 A', 'Avinash', 'Chirag', 'Deepali', 'Devesh'], [871, 'Divya', 'Esha', 'Gita', 'Gulshan'], [143, 'Hemant', 'Hina', 'Ishita', 'Jitendra', 'Kavita'], [205, 'Kunal', 'Maya', 'Nandini', 'Neelam'], [208, 'Nilesh', 'Pooja', 'Prakash', 'Rachna', 'Rajeev'], [310, 'Ramesh', 'Ritika', 'Rohit', 'Ruchi'], [73, 'Sandeep', 'Sanjana', 'Siddharth', 'Sonali', 'Suman'], [847, 'Surbhi', 'Swati', 'Tanvi', 'Tushar', 'Usha', 'Vandana', 'Vikrant'], ['88 A', 'Yogesh', 'Zoya', 'Abhishek', 'Aishwarya', 'Ankit'], ['932 A', 'Aparajita', 'Arun', 'Bharat', 'Charul', 'Chinmay'], [997, 'Dharmendra', 'Gauravi', 'Gunjan', 'Harsimran', 'Indira'], ['181 A', 'Jaspreet', 'Jitendra', 'Kalpana', 'Kashish', 'Kriti', 'Lalita'], ['214CL', 'Mahesh', 'Manisha', 'Meenal'], ['214CL', 'Minal', 'Namrata', 'Nirav'], ['405 STL', 'Palak', 'Pankaj', 'Parul'], [721, 'Priti', 'Raman', 'Ritika', 'Rupali', 'Sakshi', 'Sandeep'], [727, 'Sanjay', 'Sanjita', 'Sarika', 'Shalini', 'Sharad'], [604, 'Shivani', 'Shweta', 'Snehal', 'Sonu', 'Suman']]

In [ ]:
#allocation of drivers to the each route based on the buses
ADB=pd.DataFrame(bu)
ADB.to_excel("DriversAllocation.xlsx")
print("Drivers Allocation")
print("          routeno     Driver1    Driver2    Driver3   Driver4   Driver5   Driver6   Driver7")
ADB

Drivers Allocation
          routeno     Driver1    Driver2    Driver3   Driver4   Driver5   Driver6   Driver7

,0,1,2,3,4,5,6,7
0,108,FAIZAN,AZEES,DIVYA,BHAVITA,AMAR,None,None
1,108 STL,BHAVANA,Ananya,Arjun,None,None,None,None
2,185,Ashi,Avni,Bhavesh,Chaitanya,Chandni,Deepak,None
3,185 Lnk STL,Diya,Ekta,Gaurav,None,None,None,None
4,185 STL,Ishaan,Jaya,Kartik,None,None,None,None
5,185,Kavya,Kiran,Kriti,Lakshmi,Madhav,None,None
6,234 CL,Meera,Mihir,Naina,Nikhil,Pallavi,None,None
7,262,Ravi,Riya,Rohan,Saanvi,Sachin,Sagar,None
8,262 Lnk STL,Saloni,Sanjay,None,None,None,None,None
9,78,Sneha,Sourabh,Tanuja,None,None,None,None
10,719,Tarun,Vansh,Vijay,Vidya,Vikram,None,None
11,720,Yash,Aditi,Ajeet,Akanksha,Amit,Anil,None
12,723,Anju,Aparna,Ashok,Avinash,Chirag,Deepali,None
13,743 A,Devesh,Divya,Esha,None,None,None,None
14,743 STL,Gita,Gulshan,Hemant,None,None,None,None
15,405 A,Hina,Ishita,Jitendra,Kavita,Kunal,None,None
16,405,Maya,Nandini,Neelam,Nilesh,Pooja,None,None
17,418 A,Prakash,Rachna,Rajeev,Ramesh,Ritika,None,None
18,418 A,Rohit,Ruchi,Sandeep,Sanjana,Siddharth,Sonali,None
19,480,Suman,Surbhi,Swati,Tanvi,None,None,None
20,507 CL,Tushar,Usha,Vandana,Vikrant,Yogesh,None,None
21,522 STL,Zoya,Abhishek,Aishwarya,None,None,None,None
22,543 STL,Ankit,Aparajita,Arun,None,None,None,None
23,47 ACL,Bharat,Charul,Chinmay,Dharmendra,Gauravi,None,None
24,511 A STL,Gunjan,Harsimran,Indira,None,None,None,None
25,540 CL,Jaspreet,Jitendra,Kalpana,Kashish,None,None,None
26,548 CL,Kriti,Lalita,Mahesh,Manisha,Meenal,None,None
27,717 A,Minal,Namrata,Nirav,Palak,Pankaj,Parul,None
28,411 Lnk STL,Priti,Raman,Ritika,None,None,None,None
29,433 Lnk STL,Rupali,Sakshi,Sandeep,Sanjay,None,None,None
30,717,Sanjita,Sarika,Shalini,Sharad,Shivani,None,None
31,764,Shweta,Snehal,Sonu,Suman,Sweta,None,None
32,794,Tanya,Tejas,Trisha,Tulika,Vijay,Vishal,None
33,157 A,Yamini,Aarav,Aishwarya,Ansh,Arjun,None,None
34,165,Arya,Chandan,Chaya,Diksha,Gaurav,Ishaan,Jaya
35,212,Kartik,Kriti,Lakshmi,Manoj,Maya,None,None
36,236,Meera,Mihir,Naina,Nikhil,Pallavi,Ravi,None
37,261,Riya,Rohit,Saanvi,Siddharth,None,None,None
38,309 EXT,Sneha,Sourabh,Tanuja,None,None,None,None
39,419L STL,Tarun,Vansh,Vidya,Vikram,None,None,None
40,73 Lnk STL,Yash,Aaravi,Aditi,None,None,None,None
41,85,Ajeet,Amit,Anil,Anju,Aparna,Ashok,None
42,871 A,Avinash,Chirag,Deepali,Devesh,None,None,None
43,871,Divya,Esha,Gita,Gulshan,None,None,None
44,143,Hemant,Hina,Ishita,Jitendra,Kavita,None,None
45,205,Kunal,Maya,Nandini,Neelam,None,None,None
46,208,Nilesh,Pooja,Prakash,Rachna,Rajeev,None,None
47,310,Ramesh,Ritika,Rohit,Ruchi,None,None,None
48,73,Sandeep,Sanjana,Siddharth,Sonali,Suman,None,None
49,847,Surbhi,Swati,Tanvi,Tushar,Usha,Vandana,Vikrant
50,88 A,Yogesh,Zoya,Abhishek,Aishwarya,Ankit,None,None
51,932 A,Aparajita,Arun,Bharat,Charul,Chinmay,None,None
52,997,Dharmendra,Gauravi,Gunjan,Harsimran,Indira,None,None
53,181 A,Jaspreet,Jitendra,Kalpana,Kashish,Kriti,Lalita,None
54,214CL,Mahesh,Manisha,Meenal,None,None,None,None
55,214CL,Minal,Namrata,Nirav,None,None,None,None
56,405 STL,Palak,Pankaj,Parul,None,None,None,None
57,721,Priti,Raman,Ritika,Rupali,Sakshi,Sandeep,None
58,727,Sanjay,Sanjita,Sarika,Shalini,Sharad,None,None
59,604,Shivani,Shweta,Snehal,Sonu,Suman,None,None

In [ ]:
noofbuses=[]
for i in range(len(routes)):
  sum=0
  for j in range(2,4):
    # Accessing the DataFrame "nobuses" correctly using .iloc[]
    sum=sum+nobuses.iloc[i,j] # Use .iloc[] to access elements by integer index
  noofbuses.append(sum)
print(noofbuses)

[3, 2, 5, 2, 3, 3, 5, 3, 2, 3, 2, 4, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 2, 3, 4, 3, 3, 5, 3, 3, 2, 3, 2, 3, 3, 2, 2, 4, 2, 3, 2, 3, 5, 3, 4, 3, 3, 2, 3, 3, 3, 3, 3]